footer {
    position: relative;
    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    height: 40px;

    padding: 5px;
    font-size: 1.2em;
    z-index: 2;
}
