.netflix {
    background-color: rgb(0, 0, 0); 
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top_netflix{
    height: 900px;
    background: url(/assets/series/netflix/netflix_header.jpg) lightgray 0px -208.1px / 100% 162.578% no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content:center;
} 

.highlight_netflix {
    display: inline;
    color: red;
}